<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Frontpage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
</head>

<body>
<header>
    <div>
        <nav id="navbar">
            <a href="/">Frontpage</a>
        </nav>
    </div>
</header>

<h1>Error</h1>
<p th:text="${message}"></p>
<button onclick="history.go(-1)">Back to previous Page</button>


<footer>
    <p th:text="${#ctx.session.email}">jorg@cphbusiness.dk</p>
    <p th:text="${#ctx.name}">Jörg Oertel</p>
</footer>
</body>
</html>
