<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en=GB">

<head>
    <title>Frontpage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" media="all" href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <header class="main-header clearfix">
        <h1>📘 The Cookbook</h1>
        <nav>
            <a href="/">Home</a>
            <a href="#">About</a>
            <a href="#">Pricing</a>
            <a href="#">Terms of use</a>
            <a href="#">Contact</a>
            <a th:text="${session.isLoggedIn} ? 'Sign Out' : 'Sign In'" href="#"
               th:href="${session.isLoggedIn} ? '/?logout=true' : '/login'">Sign In</a>
        </nav>
    </header>


    <article>
        <header class="post-header">
            <h2>The Basic Styling Language: CSS</h2>

            <img
                    th:src="@{/img/jorg.jpg}"
                    src="../public/img/jorg.jpg"
                    alt="Headshot of Jörg Oertel"
                    height="50"
                    width="50"
                    class="author-img"
            />

            <p class="author">
                Posted by <strong>Jörg Oertel</strong> on Monday, June 21st 2027
            </p>

            <img
                    th:src="@{/img/post-img.jpg}"
                    src="../public/img/post-img.jpg"
                    alt="HTML code on a screen"
                    width="500"
                    height="200"
                    class="post-img"
            />
        </header>
    </article>
        <aside>
            <h4>Related posts</h4>

            <ul class="related">
                <li>
                    <img
                            th:src="@{/img/related-1.jpg}"
                            src="../public/img/related-1.jpg"
                            alt="Person programming"
                            width="75"
                    />
                    <a href="#">How to Learn Web Development</a>
                    <p>By Jonas Schmedtmann</p>
                </li>
                <li>
                    <img
                            th:src="@{/img/related-2.jpg}"
                            src="../public/img/related-2.jpg"
                            alt="Lightning"
                            width="75"
                            height="75"
                    />
                    <a href="#">The Unknown Powers of CSS</a>
                    <p>By Jim Dillon</p>
                </li>
                <li>
                    <img
                            th:src="@{/img/related-3.jpg}"
                            src="../public/img/related-3.jpg"
                            alt="JavaScript code on a screen"
                            width="75"
                            height="75"
                    />
                    <a href="#">Why JavaScript is Awesome</a>
                    <p>By Matilda</p>
                </li>
            </ul>
        </aside>
    <footer>
        <p th:text="${#ctx.session.email}">jorg@cphbusiness.dk</p>
        <p th:text="${#ctx.name}">Jörg Oertel</p>
    </footer>
</div>
</body>
</html>
