<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Frontpage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" media="all" href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="head-container">
    <header class="main-header">
        <h1>📘 The Javalin Thymeleaf Cookbook</h1>
        <nav>
            <a href="/">Home</a>
            <a href="#">About</a>
            <a href="#">Pricing</a>
            <a href="#">Terms of use</a>
            <a href="#">Contact</a>
            <a th:text="${#ctx.session.isLoggedIn} ? 'Sign Out' : 'Sign In'" href="#"
               th:href="${#ctx.session.isLoggedIn} ? '/?logout=true' : '/login'">Sign In</a>
        </nav>
    </header>
</div>

<main class="main-container">
    <h1 th:text="${welcome}"></h1>
    <p>This is your first web application in this world</p>
</main>


<footer>
    Dette er så en footer.
    <p th:text="${#ctx.session.email}"></p>
    <p th:text="${#ctx.name}"></p>
</footer>
</body>
</html>
