<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Frontpage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
</head>

<body>
<div class="head-container">
    <header class="main-header">
        <h1>📘 The Javalin Thymeleaf Cookbook</h1>
        <nav>
            <a href="/">Home</a>
            <a href="#">About</a>
            <a href="#">Pricing</a>
            <a href="#">Terms of use</a>
            <a href="#">Contact</a>
            <a th:text="${#ctx.session.isLoggedIn} ? 'Sign Out' : 'Sign In'" href="#"
               th:href="${#ctx.session.isLoggedIn} ? '/?logout=true' : '/login'">Sign In</a>
        </nav>
    </header>
</div>
<main>
    <h1>Register: </h1>

    <form th:action="@{/}" method="post">
        <label>
            <input type="text" name="username" placeholder="username">
        </label>
        <label>
            <input type="password" name="password" placeholder="password">
        </label>
        <input type="hidden" name="register" value="register">
        <button type="submit" value="Submit">Register</button>
    </form>
</main>

<footer>
    Dette er så en footer.
    <p th:text="${#ctx.session.email}"></p>
    <p th:text="${#ctx.name}"></p>
</footer>
</body>
</html>